@model DanceStudioFinder.Models.RegisterViewModel




<form id="registerForm" asp-controller="Home" asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="RegisterName" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Имя" name="RegisterName">
        <label for="floatingInput" style="color: #BABABA;">Имя</label>
        <span asp-validation-for="RegisterName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 validation">
        <input asp-for="RegisterSurname" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Фамилия" name="RegisterSurname">
        <label for="floatingInput" style="color: #BABABA;">Фамилия</label>
        <span asp-validation-for="RegisterSurname" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 validation">
        <input asp-for="RegisterEmail" type="email" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Ваша эл.почта" name="RegisterEmail">
        <label for="floatingInput" style="color: #BABABA;">Ваша эл.почта</label>
        <span asp-validation-for="RegisterEmail" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 validation">
        <input asp-for="RegisterPassword" type="password" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Пароль" name="RegisterPassword">
        <label for="floatingInput" style="color: #BABABA;">Пароль</label>
        <span asp-validation-for="RegisterPassword" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 validation">
        <input asp-for="RegisterConfirmPassword" type="password" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Пароль" name="RegisterConfirmPassword">
        <label for="floatingInput" style="color: #BABABA;">Повторите пароль</label>
        <span asp-validation-for="RegisterConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" value="Зарегистрироваться" class="btn btn-primary enter-registration-button">Зарегистрироваться</button>
    <div style="display: grid; place-items: center;">
        <a href="#" style="color: #BABABA;" id="openLoginModalLink">Уже зарегистрированы? Войти</a>
    </div>
</form>