@model DanceStudioFinder.Models.RegisterViewModel

@Html.AntiForgeryToken()
<div class="form-group">
    <label asp-for="RegisterName" class="control-label"></label>
    <input asp-for="RegisterName" class="form-control" autocomplete="off" />
    <span asp-validation-for="RegisterName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="RegisterSurname" class="control-label"></label>
    <input asp-for="RegisterSurname" class="form-control" autocomplete="off" />
    <span asp-validation-for="RegisterSurname" class="text-danger"></span>
</div>


<div class="form-group">
    <label asp-for="RegisterEmail" class="control-label"></label>
    <input asp-for="RegisterEmail" placeholder="Веведите эл. почту" class="form-control" autocomplete="off" />
    <span asp-validation-for="RegisterEmail" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="RegisterPassword" class="control-label"></label>
    <input asp-for="RegisterPassword" class="form-control" autocomplete="off" />
    <span asp-validation-for="RegisterPassword" class="text-danger"></span>
</div>


<div class="form-group">
    <label asp-for="RegisterConfirmPassword" class="control-label"></label>
    <input asp-for="RegisterConfirmPassword" class="form-control" autocomplete="off" />
    <span asp-validation-for="RegisterConfirmPassword" class="text-danger"></span>
</div>