@model DanceStudioFinder.Models.UserViewModel

@{
    ViewData["Title"] = "Главная страница сайта";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Поиск танцевальных студий</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

@section HeaderButtons {
    <button type="button" id="openLoginModal" class="main-button">
        Вход
    </button>
    <button type="button" id="openRegisterModal" class="main-button">
        Регистрация
    </button>
}

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Список всех студий, занесенных в систему -->
            <div class="block-left">
                <div id="studioList" class="studio-list-container">
                    @if (Model.DanceStudios != null && Model.DanceStudios.Any())
                    {
                        @foreach (var studio in Model.DanceStudios)
                        {
                            await Html.RenderPartialAsync("_StudioItem", studio);
                        }
                    }
                    else
                    {
                        <p>Нет доступных студий.</p>
                    }
                </div>
            </div>
            <!-- Фильтры для поиска (меньшая часть) -->
            <div class="block-right">
                <form id="filterForm">
                    <button type="submit" class="btn btn-primary find-studio-button">Найти студии</button>

                    <!--Форма с фильтрами-->

                </form>
            </div>
        </div>
    </div>

    <!-- Модальное окно для входа -->
    <div class="modal fade" id="loginModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                
            </div>
        </div>
    </div>

    <!-- Modal для регистрации -->
    <div class="modal fade" id="registrationModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/modal-window.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script>
        function openModal(modalId) {
            var myModal = new bootstrap.Modal(document.getElementById(modalId));
            myModal.show();
        }
        $(document).ready(function () {
            $('#openLoginModal').on('click', function () {
                $.ajax({
                    url: '/Home/Login',
                    type: 'GET',
                    success: function (data) {
                        $('#loginModal .modal-content').html(data);
                        openModal('loginModal');
                    },
                    error: function (xhr, status, error) {
                        console.error("Ошибка при загрузке формы входа: " + error);
                    }
                });
            });

            $('#openRegisterModal').on('click', function () {
                $.ajax({
                    url: '/Home/Register',
                    type: 'GET',
                    success: function (data) {
                        $('#registrationModal .modal-content').html(data);
                        openModal('registrationModal');
                    },
                    error: function (xhr, status, error) {
                        console.error("Ошибка при загрузке формы регистрации: " + error);
                    }
                });
            });
        });
    </script>
</body>



