@model DanceStudioFinder.Models.UserViewModel

@{
    ViewData["Title"] = "Главная страница сайта";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Поиск танцевальных студий</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

@section HeaderButtons {
    <button id="enterButton" class="main-button" data-bs-toggle="modal" data-bs-target="#loginModal">
        Вход
    </button>
    <button id="loginButton" class="main-button" data-bs-toggle="modal" data-bs-target="#registrationModal">
        Регистрация
    </button>
}

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Список студий -->
            <div class="col-md-9">
                <div id="studioList" class="studio-list-container">
                    @if (Model.DanceStudios != null && Model.DanceStudios.Any())
                    {
                        @foreach (var studio in Model.DanceStudios)
                        {
                            await Html.RenderPartialAsync("_StudioItem", studio);
                        }
                    }
                    else
                    {
                        <p>Нет доступных студий.</p>
                    }
                </div>
            </div>
            <!-- Фильтры для поиска (меньшая часть) -->
            <div class="col-md-3">
                <form id="filterForm">
                    <button type="submit" class="btn btn-primary find-studio-button">Найти студии</button>

                    <!--Форма с фильтрами-->

                </form>
            </div>
        </div>
    </div>
    <!-- Модальное окно для входа -->
    <div class="modal fade" id="loginModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Вход</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="loginForm" class="needs-validation">
                        <div class="form-floating mb-3">
                            <input asp-for="Login.LoginEmail" type="email" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Ваша эл.почта">
                            <label for="floatingInput" style="color: #BABABA;">Ваша эл.почта</label>
                            <span asp-validation-for="Login.LoginEmail" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Login.LoginPassword" type="password" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingPassword"  placeholder="Пароль">
                            <label for="floatingPassword" style="color: #BABABA;">Пароль</label>
                            <span asp-validation-for="Login.LoginPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary enter-registration-button" name="loginButton">Войти</button>
                        <div style="display: grid; place-items: center;">
                            <a href="#" style="color: #BABABA;" id="openRegistrationModalLink">Ещё не зарегистрированы? Зарегистрироваться</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal для регистрации -->
    <div class="modal fade" id="registrationModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registrationModalLabel">Регистрация</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="registrationForm" class="needs-validation">
                        <div class="form-floating mb-3">
                            <input asp-for="Register.RegisterName" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Имя">
                            <label for="floatingInput" style="color: #BABABA;">Имя</label>
                            <span asp-validation-for="Register.RegisterName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 validation">
                            <input asp-for="Register.RegisterSurname" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Фамилия">
                            <label for="floatingInput" style="color: #BABABA;">Фамилия</label>
                            <span asp-validation-for="Register.RegisterSurname" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 validation">
                            <input asp-for="Register.RegisterEmail" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Ваша эл.почта">
                            <label for="floatingInput" style="color: #BABABA;">Ваша эл.почта</label>
                            <span asp-validation-for="Register.RegisterEmail" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 validation">
                            <input asp-for="Register.RegisterPassword" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Пароль">
                            <label for="floatingInput" style="color: #BABABA;">Пароль</label>
                            <span asp-validation-for="Register.RegisterPassword" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 validation">
                            <input asp-for="Register.RegisterConfirmPassword" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Пароль">
                            <label for="floatingInput" style="color: #BABABA;">Повторите пароль</label>
                            <span asp-validation-for="Register.RegisterConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary enter-registration-button" name="registarionButton">Зарегистрироваться</button>
                        <div style="display: grid; place-items: center;">
                            <a href="#" style="color: #BABABA;" id="openLoginModalLink">Уже зарегистрированы? Войти</a>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/modal-window.js"></script>
</body>


