@model DanceStudioFinder.Models.UserViewModel

@{
    ViewData["Title"] = "Главная страница сайта";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Поиск танцевальных студий</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

@section HeaderButtons {
    <button type="button" id="openLoginModal" class="main-button" data-bs-toggle="modal" data-bs-target="#loginModal">
        Вход
    </button>
    <button type="button" id="openRegisterModal" class="main-button" data-bs-toggle="modal" data-bs-target="#registrationModal">
        Регистрация
    </button>
}

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Список всех студий, занесенных в систему -->
            <div class="block-left">
                <div id="studioList" class="studio-list-container">
                    @if (Model.DanceStudios != null && Model.DanceStudios.Any())
                    {
                        @foreach (var studio in Model.DanceStudios)
                        {
                            await Html.RenderPartialAsync("_StudioItem", studio);
                        }
                    }
                    else
                    {
                        <p>Нет доступных студий.</p>
                    }
                </div>
            </div>
            <!-- Фильтры для поиска (меньшая часть) -->
            <div class="block-right">
                <form id="filterForm" asp-action="Index" asp-controller="Home" method="post">

                    <button type="submit" class="btn btn-primary find-studio-button">Найти студии</button>

                    <!--Форма с фильтрами-->
                    @{
                        await Html.RenderPartialAsync("_StudioFilters", Model.StudioFilter);

                    }
                </form>
            </div>
        </div>
    </div>

    <!-- Модальное окно для входа -->
    <div class="modal fade" id="loginModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Вход</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="loginForm" class="needs-validation" novalidate asp-controller="Home" asp-action="Login" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3 validation">
                            <input asp-for="Login.LoginEmail" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Ваша эл.почта">
                            <label for="floatingInput" style="color: #BABABA;">Ваша эл.почта</label>
                            <span asp-validation-for="Login.LoginEmail" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 validation">
                            <input asp-for="Login.LoginPassword" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingPassword" placeholder="Пароль">
                            <label for="floatingPassword" style="color: #BABABA;">Пароль</label>
                            <span asp-validation-for="Login.LoginPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary enter-registration-button" name="loginButton">Войти</button>
                        <div style="display: grid; place-items: center;">
                            <a href="#" style="color: #BABABA;" id="openRegistrationModalLink">Ещё не зарегистрированы? Зарегистрироваться</a>
                        </div>
                        <script src="~/js/modal-window.js"></script>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal для регистрации -->
    <div class="modal fade" id="registrationModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registrationModalLabel">Регистрация</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="registerForm" class="needs-validation" novalidate asp-controller="Home" asp-action="Register" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Register.RegisterName" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Имя">
                            <label for="floatingInput" style="color: #BABABA;">Имя</label>
                            <span asp-validation-for="Register.RegisterName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 validation">
                            <input asp-for="Register.RegisterSurname" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Фамилия">
                            <label for="floatingInput" style="color: #BABABA;">Фамилия</label>
                            <span asp-validation-for="Register.RegisterSurname" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 validation">
                            <input asp-for="Register.RegisterEmail" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Ваша эл.почта">
                            <label for="floatingInput" style="color: #BABABA;">Ваша эл.почта</label>
                            <span asp-validation-for="Register.RegisterEmail" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 validation">
                            <input asp-for="Register.RegisterPassword" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Пароль">
                            <label for="floatingInput" style="color: #BABABA;">Пароль</label>
                            <span asp-validation-for="Register.RegisterPassword" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 validation">
                            <input asp-for="Register.RegisterConfirmPassword" type="text" style="border: 1px solid #C8DE9D;" class="form-control" id="floatingInput" placeholder="Пароль">
                            <label for="floatingInput" style="color: #BABABA;">Повторите пароль</label>
                            <span asp-validation-for="Register.RegisterConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" value="Зарегистрироваться" class="btn btn-primary enter-registration-button">Зарегистрироваться</button>
                        <div style="display: grid; place-items: center;">
                            <a href="#" style="color: #BABABA;" id="openLoginModalLink">Уже зарегистрированы? Войти</a>
                        </div>
                        <script src="~/js/modal-window.js"></script>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const openRegistrationModalLink = document.getElementById('openRegistrationModalLink');
            const openLoginModalLink = document.getElementById('openLoginModalLink');

            openRegistrationModalLink?.addEventListener('click', function (event) {
                event.preventDefault();

                const loginModal = bootstrap.Modal.getInstance(document.getElementById('loginModal'));
                const registrationModal = new bootstrap.Modal(document.getElementById('registrationModal'));
                if (loginModal) loginModal.hide();
                registrationModal.show();
            });

            openLoginModalLink?.addEventListener('click', function (event) {
                event.preventDefault();

                const registrationModal = bootstrap.Modal.getInstance(document.getElementById('registrationModal'));
                const loginModal = new bootstrap.Modal(document.getElementById('loginModal'));
                if (registrationModal) registrationModal.hide();
                loginModal.show();
            });

            // Очистка формы при закрытии
            $('#loginModal').on('hidden.bs.modal', function () {
                const form = $(this).find('form');
                form[0].reset();
                $(this).find('.text-danger').text('');
                $(this).find('.is-invalid').removeClass('is-invalid');
                form.removeData('validator');
                form.removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse(form);
            });

            $('#registrationModal').on('hidden.bs.modal', function () {
                const form = $(this).find('form');
                form[0].reset();
                $(this).find('.text-danger').text('');
                $(this).find('.is-invalid').removeClass('is-invalid');
                form.removeData('validator');
                form.removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse(form);
            });
        });

    </script>

    <!-- Открытие модального окна регистрации при ошибках -->
    @if (!ViewData.ModelState.IsValid && Model?.Register != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const registrationModal = new bootstrap.Modal(document.getElementById('registrationModal'));
                registrationModal.show();
            });
        </script>
    }
    @if (!ViewData.ModelState.IsValid && Model?.Login != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const loginModal = new bootstrap.Modal(document.getElementById('loginModal'));
                loginModal.show();
            });
        </script>
    }
}



