.studio-container {
    margin: 30px 20px 30px 20px;
}

.studio-name {
    font-family: "Times New Roman",sans-serif;
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
}

.studio-address {
    color: #BABABA;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.phone-number {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Times New Roman",sans-serif;
}

.field-label {
    font-family: "Times New Roman",sans-serif;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.link {
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-item {
    display: flex; /* Используем flexbox для размещения элементов в строку */
    justify-content: space-between; /* Равномерно распределяем пространство между элементами */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    width: 100%; /* Растягиваем на всю ширину контейнера */
    padding: 5px 0; /* Добавляем небольшие отступы сверху и снизу */
    border-bottom: 1px dashed #ccc; /* Добавляем пунктирную линию снизу */
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-description {
    font-size: 17px;
    text-align: left; /* Выравниваем описание по левому краю */
    font-family: "Times New Roman",sans-serif;
}

.price-value {
    font-size: 17px;
    text-align: right; /* Выравниваем цену по правому краю */
    font-family: "Times New Roman",sans-serif;
}

.schedule-table {
    width: 100%;
    table-layout: fixed;
}

.day-header {
    background-color: #ffe1e6 !important;
    font-weight: bold;
    font-size: 17px;
    height: 50px;
    font-family: "Times New Roman",sans-serif;
    vertical-align: middle;
}

.time-column {
    width: 110px;
    height: 50px;
    background-color: #F2FCC6;
    font-weight: bold;
    font-size: 17px;
}

.time-slot {
    background-color: #F2FCC6 !important;
    font-weight: bold;
    text-align: center !important; /*центрирование*/
    vertical-align: middle !important; /*вертикаль*/
    font-family: "Times New Roman",sans-serif;
}

.schedule-cell {
    height: 100px;
    vertical-align: top;
    padding: 5px;
    border: 1px solid #dee2e6;
}

.group-card {
    background-color: #f8f9fa;
    transition: all 0.2s;
}

    .group-card:hover {
        background-color: #e9f7fe;
        transform: scale(1.02);
    }

.table-responsive {
    overflow-x: auto;
}







.field-title {
    font-family: "Times New Roman",sans-serif;
    font-size: 25px;
    margin-left: 20px;
    font-weight: bold;
}

.modal-field-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    font-weight: 500;
}

.btn-outline-primary {
    border: 1px solid #F7C9D4;
    color: #F7C9D4;
}

.btn-outline-secondary {
    border: 1px solid #F7C9D4;
    color: #F7C9D4;
}

#groupsContainer .btn {
    position: relative;
    padding-right: 30px;
    margin-right: 10px;
    color: black;
    border-color: #F7C9D4;
    margin-bottom: 10px;
}

    #groupsContainer .btn:after {
        content: "✎";
        position: absolute;
        color: #F7C9D4;
        right: 8px;
        opacity: 0.7;
    }

    #groupsContainer .btn:hover:after {
        opacity: 1;
    }

