body {
}

.studio-name {
    font-family: "Times New Roman",sans-serif;
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
}

.studio-container {
    margin: 30px 20px 30px 20px;
}

.studio-address{
    color: #BABABA;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.phone-number {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.field-label {
    font-family: "Times New Roman",sans-serif;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link {
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-item {
    display: flex; /* Используем flexbox для размещения элементов в строку */
    justify-content: space-between; /* Равномерно распределяем пространство между элементами */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    width: 100%; /* Растягиваем на всю ширину контейнера */
    padding: 5px 0; /* Добавляем небольшие отступы сверху и снизу */
    border-bottom: 1px dashed #ccc; /* Добавляем пунктирную линию снизу */
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-description {
    font-size: 17px;
    text-align: left; /* Выравниваем описание по левому краю */
}

.price-value {
    font-size: 17px;
    text-align: right; /* Выравниваем цену по правому краю */
}

.schedule-table {
    width: 100%;
    table-layout: fixed;
}

.day-header {
    width: calc((100% - 100px) / 7);
    background-color: #ffe1e6;
    color: black;
    font-weight: bold;
    font-size: 17px;
}

.time-column {
    width: 100px;
    height: 50px;
    background-color: #F2FCC6;
    font-weight: bold;
    font-size: 17px;
}

.time-slot {
    background-color: #F2FCC6 !important;
    font-weight: bold;
    text-align: center !important; /*центрирование*/
    vertical-align: middle !important; /*вертикаль*/
}

.schedule-cell {
    height: 100px;
    vertical-align: top;
    padding: 5px;
    border: 1px solid #dee2e6;
}

.group-card {
    background-color: #f8f9fa;
    transition: all 0.2s;
}

    .group-card:hover {
        background-color: #e9f7fe;
        transform: scale(1.02);
    }

.table-responsive {
    overflow-x: auto;
}