* {
    margin: 0;
    padding: 0;
}

body {
    background: white; /*цвет фона*/
    padding-top: 80px; /*отступ для фиксации шапки*/
}

header {
    /*фиксация шапки страницы при скроллинге body*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /*Фиксация шапки страницы при скроллинге body*/
    background-color: #ffe1e6;
    height: 80px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between; /* разспределение пространства между эл-ми*/
    padding: 0 20px; /*отступы слева и справа*/
}

    header .logo {
        font-weight: 600;  /*толщина в пикселях*/
        font-size: 25px;
        font-family: "Times New Roman",sans-serif;
        margin-right: 20px;
    }

    header nav {
        display: flex;

    }


    header .main-button {
        margin-right: 20px;
        font-size: 20px;
        display: inline-block;
        padding: 10px 30px;
        background-color: #ffe1e6;
        border: 3px solid;
        border-color: #f7c9d4;
        color: black;
        text-decoration: none;
        border-radius: 0px;
        cursor: pointer;
        font-family: "Times New Roman",sans-serif;
    }
    header .admin_info {
        font-family: "Times New Roman", serif; 
        font-weight: normal; 
        font-size: 17px;
        margin-right: auto;
    }

.enter-registration-button {
    width: 100%;
    border: 2px solid #C8DE9D;
    background-color: #F2FCC6;
    color: black;
}

    .enter-registration-button:hover {
        background-color: white;
        border: 2px solid #C8DE9D; 
        color: black; 
    }

.find-studio-button {
    border: 2px solid #C8DE9D;
    background-color: #F2FCC6;
    color: black;
    width: 95%;
    font-family: "Times New Roman",sans-serif;
    font-size: 25px;
}
    .find-studio-button:hover {
        background-color: white; 
        border: 2px solid #C8DE9D; 
        color: black; 
    }

.block-left {
    width: 70%;
    margin-top: 20px;
}

.block-right {
    /*фиксированный правый блок*/
    position: fixed;
    top: 80px;
    right: 0;
    /*фиксированный правый блок*/
    width: 30%;
    margin-top: 20px;
}

