* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

header {
    background-color: #ffe1e6;
    height: 80px;
    width: 100%;
    align-items: center;
    display: flex;
}

    header .logo {
        font-weight: 600;
        font-size: 25px;
        margin-left: 20px;
        font-family: "Times New Roman",sans-serif;
    }

    header nav {
        position: absolute;
        right: 0;
    }


    header .main-button {
        margin-right: 20px;
        font-size: 20px;
        display: inline-block;
        padding: 10px 30px;
        background-color: #ffe1e6;
        border: 3px solid;
        border-color: #f7c9d4;
        color: black;
        text-decoration: none;
        border-radius: 0px;
        cursor: pointer;
        font-family: "Times New Roman",sans-serif;
    }

.enter-registration-button {
    width: 100%;
    border: 2px solid #C8DE9D;
    background-color: #F2FCC6;
    color: black;
}

    .enter-registration-button:hover {
        background-color: white;
        border: 2px solid #C8DE9D; 
        color: black; 
    }

.find-studio-button {
    border: 2px solid #C8DE9D;
    background-color: #F2FCC6;
    color: black;
    width: 100%;
    font-family: "Times New Roman",sans-serif;
    font-size: 25px;
    margin-top: 20px;
}
    .find-studio-button:hover {
        background-color: white; 
        border: 2px solid #C8DE9D; 
        color: black; 
    }
