* {
    margin: 0;
    padding: 0;
}

body {
    background: white;  /*цвет фона*/
}

header {
    background-color: #ffe1e6;
    height: 80px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between; /* Распределяет пространство между элементами */
    padding: 0 20px; /* Добавляем отступы слева и справа */
}

    header .logo {
        font-weight: 600;
        font-size: 25px;
        font-family: "Times New Roman",sans-serif;
        margin-right: 20px;
    }

    header nav {
        display: flex;

    }


    header .main-button {
        margin-right: 20px;
        font-size: 20px;
        display: inline-block;
        padding: 10px 30px;
        background-color: #ffe1e6;
        border: 3px solid;
        border-color: #f7c9d4;
        color: black;
        text-decoration: none;
        border-radius: 0px;
        cursor: pointer;
        font-family: "Times New Roman",sans-serif;
    }
    header .admin_info {
        font-family: "Times New Roman", serif; /* Шрифт Times New Roman */
        font-weight: normal; /* Убираем жирность, делаем текст обычным */
        font-size: 17px;
        margin-right: auto; /* Прижимает nav к правому краю */
    }

.enter-registration-button {
    width: 100%;
    border: 2px solid #C8DE9D;
    background-color: #F2FCC6;
    color: black;
}

    .enter-registration-button:hover {
        background-color: white;
        border: 2px solid #C8DE9D; 
        color: black; 
    }

.find-studio-button {
    border: 2px solid #C8DE9D;
    background-color: #F2FCC6;
    color: black;
    width: 95%;
    font-family: "Times New Roman",sans-serif;
    font-size: 25px;
    /*margin-top: 20px;*/
}
    .find-studio-button:hover {
        background-color: white; 
        border: 2px solid #C8DE9D; 
        color: black; 
    }

.block-left {
    width: 70%;
    margin-top: 20px;
}

.block-right {
    width: 30%;
    margin-top: 20px;
}

