<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Поиск танцевальных студий</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <span class="logo">Dance Studio Finder</span>
        <nav>
            @RenderSection("HeaderButtons", required: false)  <!--Кнопки в шапке страницы-->
            @RenderSection("Scripts", required: false)
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
